{% extends "base.html" %}

{% block content %}
  <style media="screen">

  axisWhite line{
    stroke: white;
  }

  .axisWhite path{
  stroke: white;
  }

  .axisWhite text{
    fill: white;
  }
  </style>
  <div id='d' style=" width:85%;">

  </div>

{% endblock %}
