{% extends "base.html" %}

{% block content %}
<form   id='form_'  enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.errors}}
  <input id="fileupload"  data-url="{% url 'analyzer:upload_files' %}"
   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
  type="file" name="file" multiple>
  <p>Drag your file(s) here or click in this area.</p>
</form>
<div style="padding-top: 12%; font-family:Verdana;">
    <h1 style = 'color:rgb(19, 144, 216)'>Welcome, Mr(s) {{request.user.first_name}} {{request.user.last_name}}!</h1>
    <h2 style = 'color:rgb(250, 250, 250)'>Here you can analyze your data by simply downloading them. </h2>
</div>
{% endblock %}
