form{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -100px;
  margin-left: -250px;
  width: 95%;
  height: 200px;
  border: 4px dashed rgb(19, 100, 180);
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-size: 25px;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  /* margin: 0; */
  color: #fff;
  background: rgb(19, 100, 180);
  border: none;
  margin-left: 34%;
  width: 500px;
  height: 35px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  font-size: 20px;
  font-family: Arial;
}
form button:hover{
  background:rgb(19, 144, 216);

}
form button:active{
  border:0;
}
.file_drag_over
{
  border: 4px dashed  rgb(19, 144, 216);
  color:rgb(19, 144, 216) ;
}
form:hover{
  background-color: rgba(19, 144, 216, 0.2);
}
